@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Redressed&family=Roboto&family=Rubik+80s+Fade&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Redressed', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik 80s Fade', cursive; */
.fixed{
    position:fixed;
    width:100%;
    z-index: 15;
    top:20px;
    background:yellow;
}


body{
    margin:0;
    padding:0;
    width:100%;
}
footer{
    height: 400px;
}

.height{
    height:200px;
}

.footer{
    background: black;
    height:500px;

}
.box-ch{
    box-shadow:0 0 10px black;
    border-radius:10px;
}
.b-bottom{
    border-bottom: solid 4px white; 

}
.style{
    list-style:none;
   
}
.critéres{
    background:grey;
    border-radius:15px;
}
.localisation{
    border-radius:15px;
    box-shadow:0 0 15px black;
}
