@import url('https://fonts.googleapis.com/css2?family=Lato&family=Merriweather&family=Redressed&family=Roboto&family=Rubik+80s+Fade&display=swap');

/* font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Redressed', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik 80s Fade', cursive; */
.fixed{
    position:fixed;
    width:100%;
    z-index: 15;
    top:20px;
    background:yellow;
}


body{
    margin:0;
    padding:0;
    width:100%;
}
footer{
    height: 400px;
}

.height{
    height:200px;
}

.footer{
    background: black;
    height:500px;

}
.box-ch{
    box-shadow:0 0 10px black;
    border-radius:10px;
}
.b-bottom{
    border-bottom: solid 4px white; 

}
.style{
    list-style:none;
   
}
.critéres{
    background:grey;
    border-radius:15px;
}
.localisation{
    border-radius:15px;
    box-shadow:0 0 15px black;
}

/* Style de la modal */
.modal {
  display: none; /* Par défaut, la modal est cachée */
  position: fixed; /* Position fixe pour la superposer au contenu */
  z-index: 1; /* Une valeur de z-index élevée pour la faire apparaître au-dessus du reste du contenu */
  left: 50%;
  top: 50%;
  width: 50%;
  height: 50%;
  overflow: auto; /* Ajout d'un défilement si le contenu de la modal est trop long */
  background-color: rgba(0, 0, 0,); /* Fond semi-transparent */
}

/* Style de la boîte de contenu de la modal */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Centrer la modal verticalement et horizontalement */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Style pour fermer la modal */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.form{
    display: flex;
    flex-direction:column;
    justify-content: start;
    align-items: start;
    margin:10px;
    font-size: 20px;
}
